/* 全体に適用 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Ryumin Regular KL, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
		"游明朝体", "Yu Mincho", serif;
}
body {
	background-color: #cbc5c1;
}
a {
	text-decoration: none;
	color: #fff;
	font-family: fantasy;
	font-size: 1.5rem;
}
li {
	list-style: none;
}

/* ヘッダー */
header {
	width: 100%;
	height: 100px;
	background-color: #3e3e3b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
	position: fixed;
	z-index: 1000;
}
header #header-left {
	padding-left: 10%;
}
header #header-right {
	padding-right: 10%;
}
header #header-right ul {
	display: flex;
}
header #header-right ul li {
	margin: 0 20px;
}
header #header-left a {
	font-size: 1.6rem;
	letter-spacing: 5px;
	transition: all 0.5s;
}
header #header-right a {
	font-size: 1.1rem;
	letter-spacing: 1px;
	transition: all 0.5s;
}

/* メイン */
main {
	padding-top: 100px;
}
.top .title {
	position: relative;
	color: #69443c;
	height: 400px;
	margin-bottom: 100px;
}
.top .title img {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -10;
}
.top .title h1 {
	position: absolute;
	font-size: 5rem;
	letter-spacing: 10px;
	top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.top .title h2 {
	position: absolute;
	top: 20%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.top .title h3 {
	position: absolute;
	letter-spacing: 10px;
	top: 65%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.top .title a {
	display: block;
	position: absolute;
	font-size: 1rem;
	letter-spacing: 10px;
	padding: 10px 30px;
	top: 85%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
	background-color: #fff;
	color: #69443c;
	border-radius: 50px;
	transition: all 0.5s;
}
.top .title a:hover {
	opacity: 0.5;
}
.contents {
	max-width: 960px;
	margin: 0 auto;
}
.contents h2 {
	border-bottom: 1px solid #333;
	margin-bottom: 20px;
}
.container {
	margin-bottom: 50px;
	line-height: 2;
	text-align: center;
}
.container span {
	display: block;
	text-align: right;
	padding:20px;
}
.prodacts {
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.prodact {
	background-color: rgba(255, 255, 255, 0.3);
	width: 30%;
	padding: 20px 0;
	margin: 50px 0;
	border-radius: 10px;
	transition: all 0.5s;
}
.prodact:hover {
	opacity: 0.6;
}
.prodact a {
	text-align: center;
	margin: 0 auto;
	color: #000;
}
.prodact h3 {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #333;
}
.prodact img {
	display: block;
	margin: 20px auto;
	height: 150px;
	outline: 2px solid #000;
	outline-offset: 3px;
	box-shadow: 10px -10px rgb(110, 110, 110), -10px 10px rgb(110, 110, 110),
		10px 10px rgb(110, 110, 110), -10px -10px rgb(110, 110, 110);
}
.comment {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	border-top: 1px solid #333;
}
.prodact .comment p {
	display: block;
	font-size: 1rem;
	margin: 20px 0 10px 0;
}
/* フッター */
footer {
	width: 100%;
	height: 300px;
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
	padding: 0 100px;
	color: #ebeced;
	background-color: #4c586f;
}
footer #footer-left img {
	height: 130px;
	text-align: center;
	margin-top: 70px;
	border-radius: 50%;
}
footer #footer-left p {
	text-align: center;
	letter-spacing: 2px;
	padding-top: 10px;
	font-size: 1.2rem;
}

footer #footer-center {
	margin-top: 50px;
	width: 250px;
}
footer #footer-center .icon-bar {
	margin: 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	color: #bfbfbf;
	font-size: 1.6rem;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	transition: all 0.5s;
}
footer #footer-center a {
	display: flex;
	align-items: center;
}
footer #footer-center .icon {
	padding: 0 20px;
}
footer #footer-center p {
	margin: 0 auto;
}
footer #footer-right ul {
	margin-top: 90px;
	align-items: center;
}
footer #footer-right ul li {
	list-style: circle;
	padding-bottom: 20px;
	transition: all 0.5s;
}

/* パソコン表示 */
@media screen and (min-width: 960px) {
	header #header-left a:hover {
		text-shadow: 10px 5px 3px;
		letter-spacing: 10px;
	}
	header #header-right ul li a:hover {
		text-shadow: 5px 5px 3px;
	}
	footer #footer-left:hover {
		opacity: 0.5;
	}
	footer #footer-center .icon-bar:hover {
		width: 100%;
		border-radius: 50px;
	}
	footer #footer-right ul li:hover {
		text-shadow: 5px 5px 3px;
	}
}

/* スマホ表示 */
@media screen and (max-width: 959px) {
	/* ヘッダー */
	header {
		height: 80px;
	}
	nav {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: #fff;
		top: 0;
		left: -500px;
		bottom: 0;
		transition: all 0.5s;
		z-index: 3;
		opacity: 0;
	}
	.open nav {
		left: 0;
		opacity: 0.5;
	}
	nav.inner {
		width: 100%;
		height: 100%;
	}
	header #header-right .inner ul {
		width: 100%;
		height: 100%;
		display: block;
		padding-top: 50px;
	}
	header #header-right .inner ul li {
		display: block;
		padding: 50px 0;
		text-align: center;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #333;
	}
	header #header-right a {
		display: block;
		color: #333;
		font-size: 1.5rem;
		width: 100%;
		height: 100%;
	}
	header #header-right .toggle-btn {
		display: block;
		position: fixed;
		top: 30px;
		right: 30px;
		width: 30px;
		height: 30px;
		z-index: 3;
		cursor: pointer;
	}
	header #header-right .toggle-btn span {
		position: absolute;
		display: block;
		left: 0;
		width: 30px;
		height: 2px;
		background-color: #fff;
		transition: all 0.5s;
		border-radius: 4px;
	}
	header #header-right .toggle-btn span:nth-child(1) {
		top: 4px;
	}
	header #header-right .toggle-btn span:nth-child(2) {
		top: 14px;
	}
	header #header-right .toggle-btn span:nth-child(3) {
		bottom: 4px;
	}
	.open .toggle-btn span {
		background-color: #fff;
	}
	.open .toggle-btn span:nth-child(1) {
		transform: translateY(10px) rotate(-315deg);
	}
	.open .toggle-btn span:nth-child(2) {
		opacity: 0;
	}
	.open .toggle-btn span:nth-child(3) {
		transform: translateY(-10px) rotate(315deg);
	}
	#mask {
		display: none;
		transition: all 0.5s;
	}
	.open #mask {
		display: block;
		background-color: #000;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		opacity: 0.8;
		cursor: pointer;
	}

	/* メイン */
main {
	padding-top: 80px;
}
.top .title {
	margin-bottom: 50px;
}
.top .title h1 {
	font-size: 4rem;
	line-height: 1;
	width: 100%;
	letter-spacing: normal;
	text-align: center;
}
.top .title h2 {
	font-size: 1rem;
}
.top .title h3 {
	font-size: 1rem;
	width: 100%;
	letter-spacing: 5px;
	text-align: center;
}
.container {
	margin-bottom: 0px;
}
.container p {
	font-size: 10px;
	width: 80%;
	margin: 0 auto;
}
.prodacts .prodact {
	width: 90%;
	margin: 30px auto;

}
.prodacts {
	display: flex;
	flex-wrap: wrap;
}
.prodact .comment p {
	/* font-size: 0.8rem; */
}
	/* フッター */
	footer {
		display: block;
		height: 200px;
	}
	footer #footer-left {
		display: none;
	}
	footer #footer-right {
		display: none;
	}
	footer #footer-center {
		width: 100%;
		margin-top: 0;
		padding-top: 50px;
	}
	footer #footer-center .icon-bar {
		margin: 10px 20px 10px 20px;
	}
	footer #footer-center ul {
		display: flex;
		justify-content: center;
	}
}
